@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

.page-header {
	padding-bottom: 0;
}

a {
  color: #00B7FF;
}

.stats {
	display: inline;
}

.title {
	display: inline;
}

.instructions {
	width: 20%;
	padding-left: 40px;
/*	border: 1px solid black;*/
}

.instructions > ol {
	padding-left: 20px;
}

.instructions > h3 {
	margin-top: 10px;
}

.wrapper {
	margin: auto;
/*	margin-left: 20px;*/
	margin-bottom: 20px;
	margin-top: 20px;
}

td {
	padding-left: 40px;
	padding-bottom: 5px;
	text-align: center;
}

.inline {
	display: inline;
}

.btn-main {
	margin-left: 30%;
	width: 43%;
	margin-bottom: 5px;
/*	margin-top: 20px;*/
}

.heading {
	padding-bottom: 20px;
}

.main-wrapper {
	width: 100%;
	position: absolute;
	margin: auto;
}

h1 {
	margin-bottom: 40px;
	padding-left: 40px;
}